vendor
node_modules
/public/hot
/public/storage
/public/media
/storage/*.key
.env
*.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/resources/sass/**/*.css
/public/**/*.js.map
*.bu.php
_notes
.phpintel
.vscode
/public/js/*
/public/css/*
/public/mix-manifest.json
.idea/*
**/composer.lock
package-lock.json
yarn.lock
**/.DS_Store
phpunit.xml
storage/json/commands/queue.json
**/.DS_Store
.DS_Store
.direnv
shell.nix
.envrc
.mysql-data
jsconfig.json
